$secondary-color: #125688;
$platzigram-red: #F44336;
$black-color : #000000;
$white-color: #FFFFFF;
$blue-color: #00C8FF;
$disabled-letter: #9B9B9B;

@import "node_modules/materialize-css/sass/materialize.scss";

@keyframes pulse{
	10%{
        box-shadow: 0px 0px 1px 10px #A4CEC3;
    }
    20%{
       box-shadow: 0px 0px 1px 5px #A4CEC3;
    }
    30%{
       box-shadow: 0px 0px 1px 10px #A4CEC3;
    }
    40%{
       box-shadow: 0px 0px 1px 15px #A4CEC3;
    }
    50%{
        box-shadow: 0px 0px 1px 10px #A4CEC3;
    }
    60%{
        box-shadow: 0px 0px 1px 15px #A4CEC3;
    }
    70%{
        box-shadow: 0px 0px 1px 10px #A4CEC3;
    }
    80%{
        box-shadow: 0px 0px 1px 5px #A4CEC3;
    }
    90%{
        box-shadow: 0px 0px 1px 10px #A4CEC3;
    }
    100%{
        box-shadow: 0px 0px 1px 5px #A4CEC3;
    }
}

@mixin prefix($property, $value, $vendors: webkit moz ms o){
	@if $vendors{
		@each $vendor in $vendors{
			#{"-"+$vendor+"-"+$property}: #{$value};
		}
	}
	#{$property}: #{$value};
}

body{
	background: #FAFAFA;
	color: $secondary-color;
	font-family: arial;
}

.container{
	max-width:100%;
	width: 100%;
}

.header{
	background-color: #00377B;
	color: #FFFFFF;
	box-shadow: none;
}

.blue-icons{
	color: #0DC8FD;
}

.white-icons{
	color: #FFFFFF;
}

.btn-nb:hover{
	background-color: transparent;
}

.tigoune{
	width: 28%;
}

.main-section{
	padding: 2%;
	width: 98%;
	margin: 0 auto;
}

.full-img{
	width: 100%;
}

.main-title{
	text-align: center;
	font-size: 2.5em;
}

.submain-title{
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 2%;
}

.sub-title{
	text-align: center;
	color: #707682;
}

.center{
	text-align: center;
}

.link{
	color: #00C8FF;
	cursor: pointer;
}

.record-btn{
	background-color: #00C8FF;
    width: 8%;
    padding: 2%;
    font-size: 2em;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 4%;
}

.row .col {
    padding: 0;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}

.black-word{
	color: $black-color;
	padding: 2% !important;
	background-color: $white-color;
	border: 1px solid $disabled-letter;
	border-radius: 5px;
	transition: all .2s ease-in-out;


}

.black-word:hover{
	border: 1px solid $blue-color;
	-ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);

    .custom-btn{
    	color: $white-color;
		background-color: $blue-color;
	}
}

.small-title{
	font-size: 1em;
}

.plan-name{
	font-size: 2.2em;
}

.plan-name small{
	font-size: 0.5em;
}

.plan-content{
	text-align: left;
}

ul.own-list {
  	list-style: none;
  	padding: 0;
  	margin: 0;
}

ul.own-list li {
  	padding-left: 1em; 
  	text-indent: -.7em;
}

ul.own-list li::before {
  	content: "• ";
  	color: #00C8FF;
  	font-size: 1.6em;
}

.custom-btn{
	font-weight: bold;
	border-radius: 10px;
	background-color: #FAFAFA;
	color: $disabled-letter;
	box-shadow: none;
}

.bg{
	background-color: #00377B;
    width: 100%;
    height: 100%;
    overflow: hidden;

    nav{
    	position: relative;
    	top: 10%;
    }
}

.logo-tigo{
	img{
		width: 8%;
		margin-left: 5%;
	}
}

.rec-btn, .rec-btn2{
	text-align: center;
	color: #FFFFFF;
	margin-top: 10%;
	.micr{
		border-radius: 80px;
		width: 120px;
		font-size: 3em;
		padding: 5%;
		margin: 0 auto;
		cursor: pointer;
		background: -webkit-linear-gradient(to bottom right, rgba(162, 59, 211, 1), rgba(212, 210, 160, 0.8));
	    background: -o-linear-gradient(to bottom right, rgba(162, 59, 211, 1), rgba(212, 210, 160, 0.8));
	    background: -moz-linear-gradient(to bottom right, rgba(162, 59, 211, 1), rgba(212, 210, 160, 0.8));
	    background: linear-gradient(to bottom right, rgba(162, 59, 211, 1), rgba(212, 210, 160, 0.8));
	}
	.btn-text{
		margin-top: 2%;
		font-size: 1.5em;
	}
	.micr-en{
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

.rec-btn2{
	margin-top: 0%;
	width: 100%;
	.micr{
		padding: 2.5%;
	}
}

.dialog-container{
	.dialog{
		width: 60%;
		height: 50%;
		padding: 1%;
		font-weight: bold;
		line-height: 200%;
		margin: 0 auto;
		overflow-x: hidden;
		overflow-y: auto; 
		margin-top: 3%;
    	font-size: 1.5em;
    	font-weight: normal;
	}

	.user{
	 	color: #00C8FF;
	 	text-align: right;
	 	width: 90%;
	 	padding-top: 2%;
	 	padding-bottom: 2%;
	}

	.machine{
		color: $white-color;
		text-align: left;
		width: 90%;
	}
}

.clear{
	clear: both;
}

.index-content{
	position: relative;
	width: 42%;
	border-radius: 10px;
	padding: 2%;
	border: 1px solid #0580BD;
	margin: 0 auto;
	height: 95%;
	top: 2%;
	color: $white-color;
}

.action-content{
	position: relative;
}

.action-content{
	color: $white-color;
	margin-top: 10%;
	a{
		color: $white-color;
		font-size: 1.3em;
		margin-left: 3%;
	}

	section{
		width: 70%;
		margin: 0 auto;; 
	}
}

.border-bottom{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pos-right{
	float: right;
}

.padd{
	padding-top: 5%;
	padding-bottom: 5%;
}

.alpha{
	opacity: 0.3;
}

.custom-bg{
	background-color: #00377B;
}

.icon-size{
	margin-right: 5%;
	li{
		a{
			font-size: 2.5em;
			color: #00C8FF;
		}
	}
	
}



.nav-content{
	margin-top: 5%;
	nav{
		box-shadow: none;
	}
}